.generalContainer {
  display: flex;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  background-color: #f5f6f8;
  padding: 3em;
  width: 100%;
}

.mainContainer h1 {
  font-size: 2em;
  color: #6b6b6b;
  font-weight: 600;
}

.headerColumn {
  color: #334d6e88;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
